{% extends 'base.html'%}

{% block main%}
<h1> The 10 most enrolled courses.</h1>
{% include 'flash_messages.html'%}

<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Course Code</th>
            <th scope="col">Course Name</th>
            <th scope="col">Number of Students</th>
        </tr>
    </thead>
    <tbody>
        {% for course in all_course %}
        <tr>
            <th scope="row">{{ course.courseCode}}</th>
            <td>{{ course.courseName}}</td>
            <td>{{ course.number_students}}</td>

        </tr>
        {%endfor%}
    </tbody>
</table>
{% endblock %}