{% extends 'base.html'%}

{% block main %}
<form class="form-login m-auto" action={{ url_for('createCourse') }} method="post" enctype="multipart/form-data">
    <div class="form-floating">
        {{ form.courseCode(class='form-control', placeholder="Enter the Course Code") }}
        {{ form.courseCode.label() }}
    </div>
    <div class="form-floating">
        {{ form.course_name(class='form-control', placeholder="Enter course name") }}
        {{ form.course_name.label() }}
    </div>
    <div class="form-floating">
        {{ form.start_date(class='form-control', placeholder="Enter course start date") }}
        {{ form.start_date.label() }}
    </div>
    <div class="form-floating">
        {{ form.credits(class='form-control', placeholder="Enter the course credits") }}
        {{ form.credits.label() }}
    </div>
  
    <button class="btn btn-lg btn-primary w-100 mt-3" type="submit">Create Course</button>
</form>
{% endblock%}