<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">COMP3161 Assignment 2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('index') }}">Home <!--,<span class="visually-hidden">(current)</span>--></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('createCourse') }}">Create Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('get_courses') }}">View Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('register_course') }}">Register For Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('getCourseMembers',course="search") }}">Course Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('CalendarEvents') }}">Calendar Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('getReports') }}">Reports</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if userType != "VISITOR" %}
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('logout') }}">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('login',status='None') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>