<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">COMP3161 Assignment 2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="{{ url_for('index') }}">Home <!--,<span class="visually-hidden">(current)</span>--></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Create Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">View Courses</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register Student For Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Course Members</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Register Student For Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="reports.html">Reports</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link active" href="#">Logout</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="#">Login</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>