{% extends "base.html" %}

{% block main %}
<h1 class="page-header">Home</h1>
<p>The following webpage if for a COMP2171 project at the University of the West Indies, Mona. This website was created
    for a local company Hair For You.</p>
<h3>Contributors</h3>
<ul>
    <li>Shadean Payton - 620137075</li>
    <li>Chukwudi Ojuro - 620122842</li>
    <li> Chevil Mitchell - 620103007</li>
    <li> ll - ll</li>
</ul>

<p>Shadean Payton was responsible for the following:</p>
<ul>
    <li>Front End</li>
    <li>#### - ####</li>
</ul>
<p>Chukwudi Ojuro was responsible for the following:</p>
<ul>
    <li>Back End</li>
    <li>#### - ####</li>
</ul>
<p>Chevil Mitchell was responsible for the following:</p>
<ul>
    <li>Front End</li>
    <li>Name Generation</li>
</ul>
<p>Michael was responsible for the following:</p>
<ul>
    <li>Back End</li>
    <li>ERD Diagram</li>
</ul>
{% endblock %}