{% extends 'base.html'%}

{% block main %}
<div class="form-login m-auto">
  <div class="form-floating">
    <a class="btn btn-primary btn-lg btn-block">50 or More Report</a>
    <a href="{{ url_for('get_property', propertyid=property.property_id) }}" class="btn btn-primary">View property</a>
  </div>
  <div class="form-floating">
    <a class="btn btn-secondary btn-lg btn-block">5 Or More Report</a>
  </div>
  <div class="form-floating">
    <a class="btn btn-secondary btn-lg btn-block">3 Or More Report</a>
  </div>
  <div class="form-floating">
    <a class="btn btn-secondary btn-lg btn-block">10 Most Enrolled Report</a>
  </div>
  <div class="form-floating">
    <a class="btn btn-secondary btn-lg btn-block">10 Highest Averages Report</a>
  </div>
</div>
{% endblock%}