{% extends 'base.html'%}

{% block main %}
{% extends 'registration.html'%}
<form class="form-login m-auto" action={{ url_for('student_registration') }} method="post" enctype="multipart/form-data">
  <div class="form-floating">
    {{ form.level(class='form-control', placeholder="Enter student's level") }}
    {{ form.level.label() }}
  </div>
  <div class="form-floating">
    {{ form.date_enrolled(class='form-control', placeholder="Enter date student enrolled") }}
    {{ form.date_enrolled.label() }}
  </div>
  <button class="btn btn-lg btn-primary w-100 mt-3" type="submit">Register</button>
</form>
{% endblock%}